    body {
        font-family: Source Sans Pro;
        text-align: center;
        line-height: 1.2em;
        background-color: rgb(21, 22, 26);
        color: #333;
        margin: 0;
    }
    
    p {
        font-family: 'Source Sans Pro';
    }
    
    a {
        color: #333;
        text-decoration: none;
    }
    
    a:hover {
        color: initial;
        /* Takes initial value of the property which is black in this case */
    }
    
    .main-body {
        padding: 15px;
    }
    
    .card p {
        margin: 20px;
        line-height: 1.3em;
        font-size: 1.1em;
        font-weight: normal;
        text-align: justify;
    }
    
    @media screen and (min-width: 800px) {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            min-width: 10%;
        }
    }
    
    .grid-child {
        flex: 1;
        padding: 5px 15px 15px 15px;
        background-color: #fff;
    }
    
    @media screen and (min-width: 800px) {
        #card-one {
            min-height: 200px;
            min-width: 350px;
        }
    }
    
    @media screen and (min-width: 800px) {
        #card-one-append {
            min-height: 185px;
            min-width: 350px;
        }
    }
    
    @media screen and (min-width: 800px) {
        #card-two {
            min-height: 520px;
            min-width: 350px;
        }
    }
    
    .profile {
        display: inline-block;
        width: 80%;
        text-align: left;
        background: #fff;
        border-radius: 5px;
    }
    
    .profile *,
    .profile:before,
    .profile:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    .profile figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 15px;
    }
    
    #photo {
        max-width: 50%;
        margin-left: 70%;
        backface-visibility: hidden;
        vertical-align: top;
        margin-top: 10px;
        border-radius: 5px;
    }
    
    #playstore {
        width: 60%;
        margin-right: 2%;
        float: right;
        backface-visibility: hidden;
        border-radius: 5px;
    }
    
    .title-principal-profile {
        font-family: 'Poppins', sans-serif;
        color: #444;
        margin: 0;
        padding: 0px 0px 4px 0px;
        font-size: 27px;
        line-height: 44px;
        letter-spacing: -2px;
        font-weight: bold;
    }
    
    .title-secondary-profile {
        font-family: 'Poppins', sans-serif;
        color: #444;
        margin: 0;
        padding: 0px 0px 4px 0px;
        font-size: 19px;
        line-height: 15px;
        letter-spacing: -2px;
    }
    
    .title-principal-publications {
        font-family: 'Source Sans Pro';
        padding-top: 12px;
        margin: 0px;
    }
    
    .title-secondary-publications {}
    
    .row-publications {
        width: 100%;
        height: auto;
        padding: 1%;
    }